USE [master]
GO
/****** Object:  Database [PRJ301_SE1624]    Script Date: 7/19/2022 9:21:24 AM ******/
CREATE DATABASE [PRJ301_SE1624]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HIEUHN0301\MSSQL\DATA\PRJ301_SE1624.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HIEUHN0301\MSSQL\DATA\PRJ301_SE1624_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1624].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1624]
GO
/****** Object:  Table [dbo].[Account_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_HE163048](
	[username] [nvarchar](250) NOT NULL,
	[password] [nvarchar](250) NOT NULL,
	[userinfo_id] [int] NULL,
	[type_id] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[email] [varchar](200) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Type_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Type_HE163048](
	[type_id] [int] NOT NULL,
	[type_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Account_Type] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment_HE163048](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_time] [time](1) NOT NULL,
	[comment_date] [date] NOT NULL,
	[comment_content] [text] NOT NULL,
	[username] [nvarchar](250) NOT NULL,
	[item_id] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_HE163048](
	[delivery_id] [int] NOT NULL,
	[delivery_name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_HE163048](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [nvarchar](100) NOT NULL,
	[item_price] [float] NOT NULL,
	[item_quantity] [int] NOT NULL,
	[item_img] [ntext] NULL,
	[item_description] [ntext] NULL,
	[tag_id] [int] NOT NULL,
	[discount] [int] NULL,
	[username] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_HE163048](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_address] [nvarchar](1000) NULL,
	[delivery_transport] [nvarchar](50) NULL,
	[delivery_note] [text] NULL,
	[payment_id] [int] NULL,
	[username] [nvarchar](250) NULL,
	[order_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item_HE163048](
	[quantity] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_HE163048](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Seller_Payment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Acc_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Acc_HE163048](
	[post_id] [int] NOT NULL,
	[username] [nvarchar](250) NOT NULL,
	[post_date] [date] NOT NULL,
	[post_time] [time](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_HE163048](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_img] [text] NULL,
	[post_content] [text] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller_Payment_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller_Payment_HE163048](
	[username] [nvarchar](250) NOT NULL,
	[payment_id] [int] NOT NULL,
	[payment_note] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_HE163048](
	[sid] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag_HE163048](
	[tag_id] [int] NOT NULL,
	[tag_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo_HE163048]    Script Date: 7/19/2022 9:21:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo_HE163048](
	[userinfo_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[dob] [date] NOT NULL,
	[avatar] [text] NOT NULL,
	[studentID] [nvarchar](200) NULL,
	[phoneNumber] [nvarchar](15) NULL,
	[address] [nvarchar](500) NOT NULL,
	[job] [nvarchar](50) NULL,
	[citizenID] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[userinfo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Account_Account_Type] FOREIGN KEY([type_id])
REFERENCES [dbo].[Account_Type_HE163048] ([type_id])
GO
ALTER TABLE [dbo].[Account_HE163048] CHECK CONSTRAINT [FK_Account_Account_Type]
GO
ALTER TABLE [dbo].[Account_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Account_UserInfo] FOREIGN KEY([userinfo_id])
REFERENCES [dbo].[UserInfo_HE163048] ([userinfo_id])
GO
ALTER TABLE [dbo].[Account_HE163048] CHECK CONSTRAINT [FK_Account_UserInfo]
GO
ALTER TABLE [dbo].[Comment_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163048] ([username])
GO
ALTER TABLE [dbo].[Comment_HE163048] CHECK CONSTRAINT [FK_Comment_Account]
GO
ALTER TABLE [dbo].[Comment_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Item] FOREIGN KEY([item_id])
REFERENCES [dbo].[Item_HE163048] ([item_id])
GO
ALTER TABLE [dbo].[Comment_HE163048] CHECK CONSTRAINT [FK_Comment_Item]
GO
ALTER TABLE [dbo].[Item_HE163048]  WITH CHECK ADD  CONSTRAINT [tag_id] FOREIGN KEY([tag_id])
REFERENCES [dbo].[Tag_HE163048] ([tag_id])
GO
ALTER TABLE [dbo].[Item_HE163048] CHECK CONSTRAINT [tag_id]
GO
ALTER TABLE [dbo].[Item_HE163048]  WITH CHECK ADD  CONSTRAINT [username3] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163048] ([username])
GO
ALTER TABLE [dbo].[Item_HE163048] CHECK CONSTRAINT [username3]
GO
ALTER TABLE [dbo].[Order_HE163048]  WITH CHECK ADD  CONSTRAINT [payment_id] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment_HE163048] ([payment_id])
GO
ALTER TABLE [dbo].[Order_HE163048] CHECK CONSTRAINT [payment_id]
GO
ALTER TABLE [dbo].[Order_HE163048]  WITH CHECK ADD  CONSTRAINT [username2] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163048] ([username])
GO
ALTER TABLE [dbo].[Order_HE163048] CHECK CONSTRAINT [username2]
GO
ALTER TABLE [dbo].[Order_Item_HE163048]  WITH CHECK ADD  CONSTRAINT [item_id] FOREIGN KEY([item_id])
REFERENCES [dbo].[Item_HE163048] ([item_id])
GO
ALTER TABLE [dbo].[Order_Item_HE163048] CHECK CONSTRAINT [item_id]
GO
ALTER TABLE [dbo].[Order_Item_HE163048]  WITH CHECK ADD  CONSTRAINT [order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order_HE163048] ([order_id])
GO
ALTER TABLE [dbo].[Order_Item_HE163048] CHECK CONSTRAINT [order_id]
GO
ALTER TABLE [dbo].[Post_Acc_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Post_Acc_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account_HE163048] ([username])
GO
ALTER TABLE [dbo].[Post_Acc_HE163048] CHECK CONSTRAINT [FK_Post_Acc_Account]
GO
ALTER TABLE [dbo].[Post_Acc_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Post_Acc_Post] FOREIGN KEY([post_id])
REFERENCES [dbo].[Post_HE163048] ([post_id])
GO
ALTER TABLE [dbo].[Post_Acc_HE163048] CHECK CONSTRAINT [FK_Post_Acc_Post]
GO
ALTER TABLE [dbo].[Seller_Payment_HE163048]  WITH CHECK ADD  CONSTRAINT [FK_Seller_Payment_Payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment_HE163048] ([payment_id])
GO
ALTER TABLE [dbo].[Seller_Payment_HE163048] CHECK CONSTRAINT [FK_Seller_Payment_Payment]
GO
USE [master]
GO
