<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/Assignment/Views/test.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name/>
        <param-value/>
    </context-param>
    <filter>
        <filter-name>ControlFilter</filter-name>
        <filter-class>Filters.ControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ControlFilter</filter-name>
        <url-pattern>/User</url-pattern>
        <url-pattern>/AddItem</url-pattern>
        <url-pattern>/ModifyItem</url-pattern>
        <url-pattern>/LoadItems</url-pattern>
        <url-pattern>/ModifyTag</url-pattern>
        <url-pattern>/ItemDetail</url-pattern>
        <url-pattern>/Cart</url-pattern>
        <url-pattern>/ModifyCart</url-pattern>
        <url-pattern>/Payment</url-pattern>
        <url-pattern>/OrderManagement</url-pattern>
        <url-pattern>/OrderDetail</url-pattern>
        <url-pattern>/ModifyCmt</url-pattern>
        <url-pattern>/ModifyPost</url-pattern>
        <url-pattern>/AccountControl</url-pattern>
        <url-pattern>/Views/Admins/*</url-pattern>
        <url-pattern>/Views/Shops/*</url-pattern>
        <url-pattern>/Views/Users/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>Controllers.admin.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyItem</servlet-name>
        <servlet-class>Controllers.ModifyItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountVerify</servlet-name>
        <servlet-class>Controllers.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Controllers.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadItems</servlet-name>
        <servlet-class>Controllers.LoadItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyTag</servlet-name>
        <servlet-class>Controllers.ModifyTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDetail</servlet-name>
        <servlet-class>Controllers.ItemDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>Controllers.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>Controllers.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCart</servlet-name>
        <servlet-class>Controllers.ModifyCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Controllers.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagement</servlet-name>
        <servlet-class>Controllers.OrderManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>Controllers.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCmt</servlet-name>
        <servlet-class>Controllers.ModifyCmt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountControl</servlet-name>
        <servlet-class>Controllers.AccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPost</servlet-name>
        <servlet-class>Controllers.ModifyPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPayment</servlet-name>
        <servlet-class>Controllers.ModifyPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyItem</servlet-name>
        <url-pattern>/ModifyItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountVerify</servlet-name>
        <url-pattern>/AccountVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadItems</servlet-name>
        <url-pattern>/LoadItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyTag</servlet-name>
        <url-pattern>/ModifyTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDetail</servlet-name>
        <url-pattern>/ItemDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCart</servlet-name>
        <url-pattern>/ModifyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagement</servlet-name>
        <url-pattern>/OrderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCmt</servlet-name>
        <url-pattern>/ModifyCmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountControl</servlet-name>
        <url-pattern>/AccountControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPost</servlet-name>
        <url-pattern>/ModifyPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPayment</servlet-name>
        <url-pattern>/ModifyPayment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
