display-flex {
    display: flex;
    display: -webkit-flex;
}

list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input, select, textarea {
    outline: none;
}
i{
    color: #000;
}
p {
    margin-bottom: 0px;
}

h2 {
    line-height: 2.5;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Roboto Slab;
    font-size: 24px;
    text-align: center;
}

body {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    background-repeat: no-repeat;
    background-image: url("../images/body-bg.jpg");
    background-size: cover;
    background-position: center center;
    font-weight: 400;
    font-family: 'Roboto Slab';
    margin: 0px;
}

.main {
    position: relative;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #000;
    opacity: 0.7;
    margin: 0 0 12px 0;
}

.container {
    width: 520px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.sign-up-content {
    padding: 16px 60px;
    position: relative;
    z-index: 99;
    margin: 20px 0;
}

.form-radio {
    margin: 0 -10px;
    margin-bottom: 40px;
    text-align: center;
}

input, select {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 0;
    color: #222;
    margin-bottom: 8px;
    font-family: 'Roboto Slab';
}
input:focus, select:focus {
    color: #222;
    border-bottom: 2px solid #4966b1;
}
.form-textbox label {
    font-weight: 600;
    color: #888;
    font-size: 16px;
}

input[type=radio],input[type=checkbox]{
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: inline-block;
}
input[type=date]{
    margin-top: 4px;
    font-size: 14px;
    color: #888;
}
.form-textbox.gender{
    margin: 12px 0;
}
.form-group{
    margin-top: 16px;
}
.label-agree-term {
    color: #888;
}

.term-service {
    color: #1da0f2;
    text-decoration: none;
}
.term-service:hover {
    text-decoration: underline;
}

.submit {
    background: #1da0f2;
    color: #FFF;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: Roboto Slab;
    border-radius: 5px;
    margin-top: 16px;
}
.submit:hover {
    background: #0c85d0;
}

.loginhere {
    text-align: center;
    color: #888;
    margin-top: 20px;
}

.loginhere-link {
    color: #1da0f2;
    text-decoration: none;
}

.login_logo{
}

.login_logo i{
    font-size: 24px;
    margin: 8px 8px;
    padding-bottom:  12px;
}
@media screen and (max-width: 768px) {
    .container {
        width: calc( 100% - 30px);
        max-width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .sign-up-content {
        padding: 40px 20px 32px 20px;
    }

    .form-radio input + label {
        display: block;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 400px) {
    .form-textbox label {
        left: 15px;
    }

    input {
        padding: 16px 30px 16px 100px;
    }
}
